@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|PT+Sans:400,700');

html, body {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    margin: 0px;
    line-height: 22px;
}

h3 {
    font-size: 40px;
    margin-top: 22px;
}

#wrapper {
    position: relative;
    min-height: 100%;
}

#header {
    height: 230px;
    width: 100%;
    background-color: #dcdcdc;
}

.content {
    width: 980px;
    margin: auto;
    padding: 0 10px;
    display: table;
}

#menu {
    height: 80px;
    background-color: #777777;
    display: table;
    width: 100%;
    color: white;
    font-size: 30px;
}

#slider {
    text-align: center;
    background-color: #f8f8f8;
    overflow: hidden;
}

#slider img {
    margin-top: -22px;
}

#content {
    padding-top: 30px;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 220px;
}

#footer {
    height: 170px;
    background-color: #777777;
    padding-top: 50px;
    font-size: 14px;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: -220px;
}

.number {
    font-size: 36px;
    font-family: 'Open Sans Condensed', sans-serif;
    float: right;
    color: #767676;
    display: block;
    line-height: normal;
}

.left {
    width: 350px;
    float: left;
    color: white;
}

.right {
    width: 571px;
    float: right;
}

#left {
    background-color: #777777;
    width: 263px;
    padding: 0 53px 100px 34px;
}

#right {
    padding-bottom: 62px;
    padding-left: 22px;
    width: 549px;
    color: #767676;
}

#right h3 {
    font-weight: 100;
}

#hRight {
    width: 250px;
}

.nItem {
    display: block;
    margin-bottom: 22px;
}

.left h3 {
    font-weight: 700;
}

.centrator {
    display: table-cell;
    vertical-align: middle;
    height: 230px;
}

li {
    list-style-type: none;
    cursor: pointer;
}

li:not(:nth-child(1)):before {
    content: '|';
    position: absolute;
    left: 8px;
    top: 0;
}

#middler {
    height: 80px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#middler ul {
    padding: 0;
}

#menu ul li:nth-child(1){
    padding-left: 0px;
}

#menu ul li{
    position: relative;
    display: inline-block;
    padding-left: 30px;
}

#menu ul li:hover {
    text-decoration: underline;
}

#middle {
    text-decoration: underline;
    float: left;
}

#middle ul {
    margin: 0;
    padding: 0;
}

#footer img {
    float: right;
    padding-top: 6px;
}

#footer .right {
    width: 250px;
}

#fText {
    float: right;
    padding-left: 10px;
}

#fText label {
    cursor: pointer;
    text-decoration: underline;
}

#lr {
    float: right;
    text-decoration: underline;
    cursor: pointer;
}
